<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Signup</title>
</head>
<body>
    <div class="container fadedown animated">
        <br />
        <h2>Sign Up</h2><hr />
        <img src="static/images/createuserlogo.png" alt="Create Account" class="center createuser" />
        <form method="post" oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")' class="needs-validation" novalidate>
            <div class="form-group signuplabel">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" name="firstname" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out the firstname field.</div>
            </div>
            <div class="form-group signuplabel">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" name="lastname" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out the lastname field.</div>
            </div>
            <div class="form-group signuplabel">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out the username field.</div>
            </div>
            <div class="form-group signuplabel">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out the password field.</div>
            </div>
            <div class="form-group signuplabel">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" placeholder="Confirm password" name="password2" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please check Password mismatch.</div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <a href="/" class="alert-link">Go back to homepage</a>
        <br />
        {% if signed_in == 1 %}
        <div class="alert alert-success" role="alert">
            Success! <a href="/" class="alert-link">Go back to homepage</a>
        </div>
        {% endif %}
    </div>


    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>
</html>
